body{
    margin: 0;
}



.gridwrapper {
    display: grid;
    grid-template-areas: 
    'hea hea'
    'nav nav'
    'sec sec'
    'foo foo'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15vh 20vh 100vh 20vh;
    height: 100vh;
}


.logo {
    grid-area: hea;
    background-color: grey;
}

.navigator {
    grid-area: nav;
    background-color: rgb(180, 132, 42);
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 5px; 
    font-family: 'Oswald', sans-serif;

    
    
}

.nav-links {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 20px;
    background-color: royalblue;
}

.titel {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: auto;
}




.articleframe {
    grid-area: sec;
    background-color: brown;
    display: grid;
    grid-template-areas: 
    'pic txt'
    ;
    grid-template-columns: 50% 50%;


}

.pic-own {
    grid-area: pic;
    background-color: seagreen;
}

.owner {
    height: 80%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    
    
}

.pic-txt {
    margin: auto;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-align
}

.own-txt {
    grid-area: txt;
    background-color: saddlebrown;
}

.footer1 {
    grid-area: foo;
    background-color: indianred;
}




